<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fs-3 fw-bold" href="#">
      <img
        src="../assets/img/logo-wanther.png"
        alt=""
        width="60"
        height="60"
        class="d-inline-block align-text-center"
      />
      APP-Libros
    </a>
  </div>
</nav>
<main class="container-fluid">
  <h1 class="text-center text-white fs-1 m-5 fw-bold">APP-Libros</h1>

  <div
    class="container d-flex justify-content-center"
    *ngFor="let libros of listLibros; let index = index"
    [ngSwitch]="libros.editorial"
  >
    <div class="card text-white bg-dark mb-5" style="max-width: 60rem">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ libros.img }}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8 position-relative">
          <div class="card-body">
            <h5 class="card-title fs-1">{{ libros.titulo }}</h5>
            <p class="card-text">{{ libros.descripcion }}</p>
            <div class="row">
              <p class="card-text col fs-4">
                <small class="text-muted">Autor: {{ libros.autor }}</small>
              </p>
              <p *ngSwitchCase="'Ediciones B / Zeta'" class="">
                Editorial:
                <span class="fs-6 badge bg-secondary"
                  >{{ libros.editorial }}
                </span>
              </p>
              <p *ngSwitchCase="'Gigamesh'" class="">
                Editorial:
                <span class="fs-6 badge bg-success"
                  >{{ libros.editorial }}
                </span>
              </p>
              <p *ngSwitchCase="'Edhasa'" class="">
                Editorial:
                <span class="fs-6 badge bg-danger"
                  >{{ libros.editorial }}
                </span>
              </p>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-primary position-absolute bottom-0 end-50 mb-2"
          >
            READ
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
